<!DOCTYPE html>
<html>
<head>
	{% load static %}

	<title>Online chat</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<section class="body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-4 bg-light part">
					<div class="search row">
							<div class="row mt-3 mb-3">
								<div class="col">
								{% if form.non_field_errors %}
								<div class="alert alert-warning" role="alert">
									<b>Ошибка. </b>{{ form.non_field_errors.0 }}
								</div>
								{% endif %}
								{% if messages %}
								  {% for msg in messages %}
								  <div class="alert alert-{{msg.level_tag}} " role="alert">
									  {{msg.message}}
								  </div>
								  {% endfor %}
							  	{% endif %}
								<form action="{% url 'invite' %}" method="post">
									{% csrf_token %}
									<div class="row">
										<div class="col-4">
											<div class="alert alert-primary nickname" role="alert">
												Профиль: <b>{{ user.username }}</b> <a href="{% url 'logout' %}">(выйти)</a>
											</div>
										</div>
										<div class="col">

											<div class="input-group">


												<div class="input-group-prepend">
													<div class="input-group-text">Ваш ID: {{ user.id }}</div>
												</div>
												<input type="number" class="form-control" placeholder="ID друга" required name="friend" aria-label="Search" aria-describedby="button-addon2">

												<button class="btn btn-outline-primary w-5 d-flex align-items-center" type="submit" id="button-addon2">
													Пригласить
												</button>
											</div>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>
					{% if chat %}
					<div class="row p-2 mb-3" style="background-color: #DCDCDC">
						<div class="col d-flex d-flex justify-content-center align-items-center">
							<label for="exampleColorInput" class="form-label" style="margin-right: 20px; font-size: 20px; font-weight: bold;">Выберите цвет диалога</label>
							<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#8eb4d4" title="Choose your color" style="margin-right: 20px">
							<button type="button" onClick="updateDialogColor({{ chat }}, {{ user.profile.id }})" class="btn btn-success">Сохранить</button>
						</div>
					</div>
					{% endif %}
					<div class="friends">
						{% for c in chats %}
						<div class="row pt-1 pb-1 d-flex align-items-center friend"
						type="button" value="Click" onmousedown="viewDialog({{ c.id }})" {% if c.id == chat %} style="background-color: #8eb4d4;transition: 0.6s;" {% endif %}>
					        <div class="col-2">
			         	 		<img {% if c.friend_avatar %} src="{{ c.friend_avatar }}" {% else %}
									src="https://i.pinimg.com/originals/cc/6c/07/cc6c07880dfd0c337c875b3cdc6821c8.png"
									 {% endif %}
									class="rounded-circle img-fluid mr-3" alt="Аватар" height="70" width="70">
							</div>
					        <div class="col-8 mt-3">
					            <p style="font-weight: bold">{{ c.friend_name }}</p>
					            {% if c.id != chat %}
									<p class="">{{ c.last_message.text }}</p>
								{% else %}
									<p class=""><div id="typing-animation"></div></p>
								{% endif %}
			          		</div>
							<div class="col-2 d-flex justify-content-end">
								<span class="badge bg-secondary">{{ c.unreaded_messages }}</span>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>


				<div class="col-8" id="dialog" style="background-color: #8eb4d4; height: 100vh;">
					{% if chat %}
					<div id="dialogContent">

						<div class="row" id="messages" style="height: 90vh; overflow: auto;">
							<div class="col" id="chat">

								{% for m in chatMessages %}
									{% if m.profile.id == user.profile.id %}
										<div class="row mt-1">
											<div class="col-3">
												{% if m.profile.avatar %}
													<img src="{{ m.profile.avatar.url }}" class="rounded-circle img-fluid" alt="Аватар" height="30" width="30" style="float: right;">
												{% else %}
													<img src="https://i.pinimg.com/originals/cc/6c/07/cc6c07880dfd0c337c875b3cdc6821c8.png" class="rounded-circle img-fluid" alt="Аватар" height="30" width="30" style="float: right;">
												{% endif %}
											</div>
											<div class="col-5">
												<p class="text-justify my-message" style="float: left">
													{{ m.text }}
												</p>
												<span>{{ m.created_at }}</span>
											</div>
										</div>
									{% else %}
									<div class="row mt-1 d-flex flex-row-reverse">
										<div class="col-3">
											{% if m.profile.avatar %}
												<img src="{{ m.profile.avatar.url }}" class="rounded-circle img-fluid" alt="Аватар" height="30" width="30" style="float: left;">
											{% else %}
												<img src="https://i.pinimg.com/originals/cc/6c/07/cc6c07880dfd0c337c875b3cdc6821c8.png" class="rounded-circle img-fluid" alt="Аватар" height="30" width="30" style="float: left;">
											{% endif %}
										</div>
										<div class="col-5">
											<p class="text-justify friend-message" style="float: right">
												{{ m.text }}
											</p>
											<span>{{ m.created_at }}</span>
										</div>
									</div>
									{% endif %}
								{% endfor %}

							</div>
						</div>


						<div class="row d-flex justify-content-center p-3">
							<div class="col-7">
						    	<textarea class="form-control" id="message-input" placeholder="Ваше сообщение" id="exampleFormControlTextarea1" rows="1"></textarea>
			  				</div>

					  		<div class="col-1">
					  			<button type="submit" id="btn-submit" type="button" value="Send" class="btn btn-outline-primary rounded-circle d-flex justify-content-center align-items-center" style="height: 50px; width: 50px;">
					  				<img src="{% static 'images/send.png' %}">
					  			</button>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
<script src="{% static 'js/scripts.js' %}"></script>
{% if chat %}
	{{ chat|json_script:"json-chat" }}
	{{ profile|json_script:"json-profile" }}
	<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/typeit.min.js' %}"></script>
<script>
	typeitObj = new TypeIt('#typing-animation', {
	  strings: "печатает...",
	  speed: 100
	})
	function sendit()
	{
		typeitObj.reset();
		typeitObj.go();
		// Call sendit() the next time, repeating
		setTimeout(sendit, 2500);
	}
	// Call sendit() the first time
	setTimeout(sendit, 500);
</script>
{% endif %}
</body>
</html>