::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track {
  background: #f7efef;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a5a2a2;
  border-radius: 5px;
}

#arrow-back:hover {
    background-color: #DBDBDB;
}

#profile-avatar button:hover i
{
    font-size: 3em;
}

#profile-avatar button:hover
{
    transition: 0.3s;
    box-shadow: 2px 2px 5px 5px #6c757d;
}
.bg-light-green {
    background-color: rgba(19,191,17,1);
}
.bg-light-green:hover {
    background-color: rgba(19,160,17,1);
}

.friend-card {
	transform: perspective(2000px) rotatey(0deg) rotatex(0deg);
	transition: transform 0.2s ease;
}

#profile-avatar button
{
    border: 2px solid #6c757d;
    width: 100px;
    height: 100px;
}

.friend-avatar {
    border: 2px solid #6c757d;
    width: 100px;
    height: 100px;
}
textarea {
  font-size: 28px;
  font-family: Arial;
  resize: none;
  overflow: hidden;
  height: 50px;
  min-height: 50px;
}

.friend {
	cursor: pointer;
}

.part {
	height: 100vh;
	overflow: auto;
}

.my-message {
	min-width: 10px;
	padding: 6px 10px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 10px
}

.friend-message {
	min-width: 10px;
	padding: 6px 10px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 10px
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}

div.nickname {
    padding: 9px 9px;
    margin-bottom: 0;
}

*,*:before,*:after{
    box-sizing:border-box;
    margin:0;
    padding:0;
    /*transition*/
    -webkit-transition:.25s ease-in-out;
       -moz-transition:.25s ease-in-out;
         -o-transition:.25s ease-in-out;
            transition:.25s ease-in-out;
    outline:none;
    }
    .ios-toggle,.ios-toggle:active{
    position:absolute;
    top:-5000px;
    height:0;
    width:0;
    opacity:0;
    border:none;
    outline:none;
    }
    .checkbox-label{
    display:block;
    position:relative;
    padding:10px;
    font-size:12px;
    line-height:8px;
    width: 40px;
    height:20px;
    /*border-radius*/
    -webkit-border-radius:10px;
       -moz-border-radius:10px;
            border-radius:10px;
    cursor:pointer;
    }
    .checkbox-label:before{
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    line-height:20px;
    text-indent:20px;
    height:20px;
    width:20px;
    /*border-radius*/
    -webkit-border-radius:100%;
       -moz-border-radius:100%;
            border-radius:100%;
    top:0px;
    left:0px;
    right:auto;
    }