# use Redis Cache server as channel
RSUECHAT_REDIS_ENABLE=False

# True - if production, else (dev or local) - False
RSUECHAT_PROD_ENV=False

# Debug mode (recommend False if PRODUCTION_ENV = True)
RSUECHAT_DEBUG=True

# Unique key for safe encryption
FIELD_ENCRYPTION_KEY=key

EMAIL_USE_TLS=True
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_HOST_USER=username
EMAIL_HOST_PASSWORD=password